.App {
  text-align: center;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  width: 400px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navigation {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.navigation-item {
  list-style: none;
  padding: 1rem;
}